div.card-2
    div.form-group
    label URL with all parameters
    input.form-control(disabled)
    br
    button(class='btn btn-default btn-primary' type='button' id='btnSaveCampaignTag') Salvar
script(src='/javascript/companies.js')