div.card-2
    div.form-group
    label(style="font-size:20px;") URL :: Landing Page
    input.form-control#URL
    h4 Choose yours Analytics
    hr
    div.material-switch.pull-right(style="background-color:gray")
    label.checkbox-inline
        |Google Analytics     
        input(type="checkbox" name="ga" data-size="mini") 
    label.checkbox-inline
        |AT Internet     
        input(type="checkbox" name="AT internet" data-size="mini") 
