doctype 
html(ng-app="StarterApp")
  head
    title= title
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
    script(src='/javascript/vendor.js')
    script(src='/javascript/tagmax.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content
    br
    br
    script(src='/javascript/angular.js')
    footer.text-center
        span Powered by INTERACTION Theme: by INTERACTION
